@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.sec-one{
    background-color: #daac00;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row-1{
    
    line-height: 90px;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    overflow: hidden;
    
}
.logo a img{
    width: 212px;
    vertical-align: middle; 
}
.home-list ul li{
    display: inline-block;
}
.home-list ul li a{
    text-decoration: none;
    padding: 30px 25px 30px 25px;
}
.home-list ul li a:hover{
    background-color: #fcc302;
}
.search-bar i{
    background-color: #00bec9;
    padding: 5px;
    vertical-align: middle;
    border-radius: 0px 10px 10px 0px;
    
}
.search-bar input{
    vertical-align: middle;
    line-height: 2;
    background-color: #fcc302;
    font-size: medium;
    border: none;
    outline: none;
    border-radius: 10px 0px 0px 10px;
}
.search-bar input:focus{
    border: 1px solid  #00bec9;
}
.sec-two{
    background-color: #fcc302;
}
.col-1>h2{
    font-size: 67px;
    font-weight: 800;
}
.col-1>p{
    font-size: 27px;
    font-weight: 600;
}
button{
    padding: 10px;
    margin: 20px 20px 0px 0px;
    font-size: medium;
    font-weight: 600;
    border-radius: 7px;
    
}
.bt-1{
    background-color: #00bec9;
    border: none;
    
}
.bt-2{
    background-color: #fcc302;
    border: 2px solid white;
}
.col-2{
    margin-top: 50px;
}
.row-3 .col-1 h2,p,button{
    color: black;
}
.row-3 .box{
    background-color: #fcc302;
}
