@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap'); 

:root{
    --clr: #191919;
    --clr-orange: #ff6900;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    list-style-type: none;
}
.df{
    display: flex;
}
.jcs{
    justify-content: space-between;
}
.ac{
    align-items: center;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    width: 90.625em;
    margin: 0 auto;
}


.heading{
    
    overflow: hidden;
    max-height: 10vh;
    padding: 15px 0;
    
}
.logo-img{
    max-width: 32px;
    max-height: 32px;
} 
.heading ul li a{
    padding: 10px 15px;
    color: var(--clr);
    margin: 5px 15px;
}
.heading ul li{
    margin: ;
}





